@charset "utf-8";

/* CSS Document */

@media only screen and (min-width: 992px){
	img {
		margin-top: 1em;
		margin-bottom: 0.5em;
	}
	
	h2 { 
		text-align:center;
	}
	
	.hi {
		text-align: left;
	}
	
} 

@media only screen and (min-width: 1200px){
	
}

html {
	font-family: 'Roboto', sans-serif;
	font-size: 100%;
}

.masthead {
	padding-top: 5rem;
	padding-bottom: calc(10rem - 56px);
	background-image: url(../img/header.jpg);
	background-position: center center;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	font-family: 'Share Tech Mono', monospace;
	text-align: left;
}

.masthead p {
	color:#FFFFFF;
	font-size: 2rem;
}

.hi {
	font-size: 12rem;
	text-align: right;
}

h1 { 
	font-size: 3.8rem;
}

h2, h3, p {
	color: #26404d;
}

h2 {
	font-weight: 600;
	text-align: left;
}

.btn { 
	background-color: #26404d; 
	text-align: center;
}

section {
	margin: 2em 1em;
}

footer {
	margin-top: 1rem;
	padding-top: 1rem;;
	padding-bottom: 0.1rem;
	background-color: #ebebeb;
}



